body {
    --brown: #46200A;
    --cream: #FFF2E1;
    --coffee: #B87247;
    background-color: var(--cream);
    color: var(--brown);
    font-family: 'DotGothic16';
}

main {
    padding: 2% 10% 2% 10%;
    display: flex;
    flex-direction: row;
    gap: 10%;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1% 5% 1% 5%;
}

h1 {
    font-size: 64px;
    margin: 0;
}

#left {
    display: flex;
    flex-direction: column;
}

#left img {
    width: 80%;
    height: fit-content;
    margin-top: 10%;
}

/* Form */
input, label {
    display: block;
}

input {
    margin-bottom: 1em;
    color: var(--brown);
}

fieldset input, fieldset label {
    display: inline;
}

fieldset label {
    margin-bottom: 1em;
}

label {
    font-family: 'DotGothic16';
    color: white;
    margin-bottom: 4px;
}

#form {
    background-image: url('images/board.png');
    background-size:cover;
    background-repeat: no-repeat;
    /* background-color: white; */
    padding: 5% 5% 0% 5%;
    margin: 0;
    height: fit-content;
}

#questions {
    columns: 2;
    column-gap: 1em;
    margin-top: 10%;
}

#color {
    width: 100%;
}

#submitbtn {
    margin: 0;
    padding: 2%;
    background-color: var(--coffee);
    text-decoration: none;
    color: white;
    width: 100%;
    /* margin-top: 20%; */
    margin-top: 15%;
    margin-bottom: 15%;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 2px 5px 1px rgba(34, 34, 34, 0.43);

}

#submitbtn:hover {
    transform: translateY(2px);
    box-shadow: none;
}

@media (max-width: 800px) {
    main{
        flex-direction: column;
    }

    h1 {
        font-size: 48px;
    }

    #left {
        margin-bottom: 5%;
        align-items: center;
    }

    #submitbtn {
        margin-top: 5%;
        margin-bottom: 10%;
    }

    input {
        width: 100%;
    }
}